* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

header {
/*Box model stuff*/
    height: 250px;
    background-color: black;
/*Typography stuff*/
    text-align: center;
    color: white;
}

header h1 {
    font-family: 'Passion One', cursive;
    padding: 20px
    
}