@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 42vh;
    text-align: center;
}

header h1 {
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-weight: bold;
    padding-top: 60px;
}

header p {
    font-size: 1.3em;
    color: white;
    font-family: sans-serif;
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding: 70px 25px;
}
section.img {
    box-shadow: inset 6px 6px 18px rgba(0, 0, 0, 0.418);
}

section.img > p {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    display: block;
    font-size: 4vw;
    padding: 5px;
    width: 47vw;
}

section p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 100px;
}

#img-01 {
    background-attachment: fixed;
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-02  {
    background-attachment: fixed;
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 50px;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    padding-top: 10px;
}

footer a {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}